:root {
    --primary-color: #c7365f;

    --ff-primary: "Baloo 2";
    --ff-secondary: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background: linear-gradient(to top left, #FF6B6B 0%, #F9C74F 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */
main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: flex;

    @media (max-width: 48rem) {
        flex-direction: column;
    }
}

.player {
    flex: 50%;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    align-items: center;
    transition: all 0.75s;
}

/* ELEMENTS */
.name {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    margin-block-end: 3rem;
}

.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 400;
}

.player--active .current {
    opacity: 1;
}

.current {
    background-color: var(--primary-color);
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    /* width: 65%; */
    padding: 1rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ddd;
}

.current-score {
    font-size: 2.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
    font-size: 1rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.btn--new {
    top: 5%;
}

.btn--roll {
    top: 70%;
}

.btn--hold {
    top: 85%;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color: #2f2f2f;
}

.player--winner .name {
    font-weight: 700;
    color: var(--primary-color);
}

.hidden {
    display: none;
}

.announcement {
    z-index: 100;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    color: #2f2f2f;
    width: 30vw;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.announcement__header {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

.announcement__body {
    margin: 2rem;
    font-size: 2rem;
    height: 20vh;
}

.close-btn {
    cursor: pointer;
    background: transparent;
    color: var(--primary-color);
    font-size: 30px;
    border: none;
    /* padding: 5px 5px; */
}

.announcement__footer {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border-top: 2px solid var(--primary-color);
    gap: 10px;
}

.close-modal,
.play-again {
    border: none;
    padding: 10px 20px;
    border-radius: 100vw;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

.overlay {
    z-index: 99;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
}
